<%- include('header'); %>

    <%- include('dashboard-nav'); %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Rembourssement client</h5>
                  <small>Date de la demande: 21/01/2019</small>
                </div>
                <p class="mb-1">Le client 655545 souhaite un remboursement intergale de sa commande</p>
                <small>Echéance: 24/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Retour marchandise</h5>
                  <small>Date de la demande: 19/01/2019</small>
                </div>
                <p class="mb-1">Le client 655545 souhaite un remboursement intergale de sa commande</p>
                <small><i class="fas fa-exclamation-circle"></i> Echéance dépassée : 21/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Problème avec le transporteur</h5>
                  <small>Date de la demande: 14/01/2019</small>
                </div>
                <p class="mb-1">Contacter urgement le transporteur DHL car problème dans le suivi des commandes du lot 6675</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 18/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Retour client</h5>
                  <small>Date de la demande: 3/01/2019</small>
                </div>
                <p class="mb-1">Le client 33467 souhaite un remboursement partiel de sa commande 755687</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 5/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Delais livraison marchandise </h5>
                  <small>Date de la demande: 29/12/2018</small>
                </div>
                <p class="mb-1">Contacter le transporteur pour valider avec lui la date de la livraison de la marchandise</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 30/12/2018</small>
            </a>

          </div>


        </div>
        <!-- /.container-fluid -->

<%- include('footer'); %> 